<%= content_for :title, "Interpreter Details ##{@interpreter_detail.id}" %>
<%= turbo_stream_from @interpreter_detail %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Interpreter Details", interpreter_details_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Interpreter Detail #<%= @interpreter_detail.id %>
    </h1>
    <%= link_to t("edit"), edit_interpreter_detail_path(@interpreter_detail), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @interpreter_detail %>
  </div>
</div>
