<div id="<%= dom_id bill_rate %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= bill_rate.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= bill_rate.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hourly bill rate</p>
    <%= bill_rate.hourly_bill_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is active</p>
    <%= bill_rate.is_active %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Minimum time charged</p>
    <%= bill_rate.minimum_time_charged %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Round time</p>
    <%= bill_rate.round_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Round increment</p>
    <%= bill_rate.round_increment %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours overage</p>
    <%= bill_rate.after_hours_overage %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours start seconds</p>
    <%= bill_rate.after_hours_start_seconds %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours end seconds</p>
    <%= bill_rate.after_hours_end_seconds %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rush overage</p>
    <%= bill_rate.rush_overage %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rush overage trigger</p>
    <%= bill_rate.rush_overage_trigger %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel rate</p>
    <%= bill_rate.cancel_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel rate trigger</p>
    <%= bill_rate.cancel_rate_trigger %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Default rate</p>
    <%= bill_rate.default_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">In person</p>
    <%= bill_rate.in_person %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Phone</p>
    <%= bill_rate.phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Video</p>
    <%= bill_rate.video %>
  </div>
</div>
