<%= content_for :title, "Bill Rates" %>
<%= turbo_stream_from :bill_rates %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Bill Rates</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500">Sort by:</span>
        <%= sortable @bill_rates, :account_id, "Account", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :name, "Name", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :hourly_bill_rate, "Hourly bill rate", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :is_active, "Is active", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :minimum_time_charged, "Minimum time charged", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :round_time, "Round time", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :round_increment, "Round increment", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :after_hours_overage, "After hours overage", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :after_hours_start_seconds, "After hours start seconds", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :after_hours_end_seconds, "After hours end seconds", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :rush_overage, "Rush overage", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :rush_overage_trigger, "Rush overage trigger", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :cancel_rate, "Cancel rate", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :cancel_rate_trigger, "Cancel rate trigger", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :default_rate, "Default rate", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :in_person, "In person", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :phone, "Phone", class: "text-gray-700 mr-1" %>
        <%= sortable @bill_rates, :video, "Video", class: "text-gray-700 mr-1" %>
      </div>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Bill Rate"), new_bill_rate_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("bill_rates" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "bill_rates/index", collection: @bill_rates, as: :bill_rate, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Bill Rate</p>
        <%= link_to t("shared.scaffold.new.title", model: "Bill Rate"), new_bill_rate_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
