<table class="min-w-full divide-y divide-gray-300 mt-8">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm uppercase font-semibold text-gray-900 sm:pl-6"><%= sortable @appointments, :id, "Ref Numb" %></th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @appointments, :modality, "Modality" %></th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @appointments, :language, "Language" %></th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @appointments, :duration, "Duration" %></th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell">
        <%= sortable @appointments, :start_time, "Date" %>
      </th>
      <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @appointments, :status, "Status" %></th>
      <% if @show_payment_amount %>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell">Payment Amount</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200 bg-white">
  <% Array.wrap(@appointments).each do |appointment| %>
    <tr>
      <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
        <%= link_to appointment.ref_number, appointment_details_interpreter_path(appointment), data: { turbo: false } %>
        <dl class="font-normal lg:hidden">
          <dt class="sr-only">Modality</dt>
          <dd class="mt-1 truncate text-gray-700"><%= appointment.modality.titleize %></dd>
          <dt class="sr-only">Language</dt>
          <dd class="mt-1 truncate text-gray-500"><%= appointment.language&.name %></dd>
          <dt class="sr-only">Duration</dt>
          <dd class="mt-1 truncate text-gray-500"><%= appointment.duration %> minutes</dd>
          <dt class="sr-only">Status</dt>
          <dd class="mt-1 truncate text-gray-500 capitalize"><%= colored_appointment_status(appointment.status) %></dd>
          <dt class="sr-only">Start Time</dt>
          <dd class="mt-1 truncate text-gray-500"><%= appointment.start_time.strftime("%B %-d at %l:%M %p") %></dd>
        </dl>
      </td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= appointment.modality.titleize %></td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= appointment.language&.name %></td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= appointment.duration %> minutes</td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= appointment&.start_time&.strftime("%a %Y-%m-%d, %l:%M %p") %></td>
      <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell capitalize"><%= colored_appointment_status(appointment.current_status) %></td>
      <% if @show_payment_amount %>
        <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= appointment.total_paid.present? ? number_to_currency(appointment.total_paid) : "" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
