<% dropdown_item_classes = "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" %>
<% label_classes = "w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300" %>

<div class="flex flex-1 flex-col md:pl-64" data-controller="interpreter-appointments">
  <%= form_with url: fetch_appointments_interpreters_path, class: 'form', remote: true, method: :get, data: { remote: true, action: "ajax:success->interpreter-appointments#handleResults", target: "interpreter-appointments.form", interpreter_appointments_target: "form" } do |f| %>
    <main class="flex-1 py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-6">
        <div class="flex p-8 bg-white rounded shadow font-bold text-xl capitalize">
          <div>
            <span id="timeframeTextContainer">All</span>
            <span id="categoriesTextContainer"> </span>
            Appointments
          </div>
          <div class="ml-auto">
            <span id="modalitiesTextContainer" class="text-gray-500">
            </span>
          </div>
        </div>
        <div class="flex pt-5">
          <div class="ml-auto">
            <div class="flex">

              <div data-controller="dropdown" class="pr-3">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide" role="button" class="inline-flex items-center select-none" aria-label="Profile Menu">
                  <p class="text-sm">Category</p>
                  <svg class="w-4 h-4 ml-2 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <div data-dropdown-target="menu" class="hidden absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 block">
                  <div class="overflow-hidden bg-white border border-gray-200 rounded shadow-md">
                    <div data-interpreter-appointments-target="status">
                      <% @statuses.each do |category| %>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 py-3 px-3">
                          <input name="status" class="<%= dropdown_item_classes %>" type="radio" id="category_<%= category %>" value="<%= category %>" data-action="change->interpreter-appointments#changed change->interpreter-appointments#updateCurrentFilterText" data-category-filter="<%= category %>">
                          <label class="form-check-label <%= label_classes %>" for="category_<%= category %>"><%= category.titleize %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div data-controller="dropdown" class="pr-3">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide" role="button" class="inline-flex items-center select-none" aria-label="Profile Menu">
                  <p class="text-sm">Timeframe</p>
                  <svg class="w-4 h-4 ml-2 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <div data-dropdown-target="menu" class="hidden absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 block">
                  <div class="overflow-hidden bg-white border border-gray-200 rounded shadow-md">
                    <div data-interpreter-appointments-target="displayRange">
                      <% @timeframes.each do |timeframe| %>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 py-3 px-3">
                          <input name="display_range" class="<%= dropdown_item_classes %>" type="checkbox" id="timeframe_<%= timeframe %>" value="<%= timeframe %>" data-action="change->interpreter-appointments#changed change->interpreter-appointments#toggleCurrentTimeFilterText" data-time-filter="<%= timeframe %>">
                          <label class="form-check-label <%= label_classes %>" for="timeframe_<%= timeframe %>"><%= timeframe.titleize %></label>
                        </div>
                      <% end %>
                      <div class="pr-3">
                        <div data-action="click->interpreter-appointments#toggleNestedDropdown" role="button" class="flex items-center py-3 px-3" aria-label="Profile Menu">
                          <p class="text-sm">Date Range</p>
                          <svg class="w-4 h-4 ml-2 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </div>
                        <div class="nestedDropdown hidden absolute mt-1 top-full z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 block">
                          <div class="overflow-hidden bg-white border border-gray-200 rounded shadow-md">
                            <div class="items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 py-3 px-3">
                              <label for="start-date" class="block font-medium text-gray-700 mt-2">Start Date</label>
                              <input type="date" name="start_date" id="start-date" class="inline-block w-1/8 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" data-action="change->interpreter-appointments#changed">
                            </div>
                            <div class="items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 py-3 px-3">
                              <label for="end-date" class="block font-medium text-gray-700 mt-2">End Date</label>
                              <input type="date" name="end_date" id="end-date" class="inline-block w-1/8 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" data-action="change->interpreter-appointments#changed">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div data-controller="dropdown" class="pr-3">
                <button data-action="click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide" role="button" class="inline-flex items-center select-none" aria-label="Profile Menu">
                  <p class="text-sm">Modality</p>
                  <svg class="w-4 h-4 ml-2 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <div data-dropdown-target="menu" class="hidden absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 block">
                  <div class="overflow-hidden bg-white border border-gray-200 rounded shadow-md">
                    <div data-interpreter-appointments-target="modality">
                      <% @modalities.each do |modality| %>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600 py-3 px-3">
                          <input name="modality_<%= modality %>" class="<%= dropdown_item_classes %>" type="checkbox" id="modality_<%= modality %>" value="<%= modality %>" data-action="change->interpreter-appointments#changed change->interpreter-appointments#toggleModalityFilterText">
                          <label class="form-check-label <%= label_classes %>" for="modality_<%= modality %>"><%= modality.titleize %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                <div data-interpreter-appointments-target="appointments">
                  <%= render template: 'interpreters/fetch_appointments' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <% end %>
</div>
