<table class="min-w-full divide-y divide-gray-300 border">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Appointment Number</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
        <button data-action="click->interpreter-appointments#sort" role="button" class="inline-flex items-center select-none" aria-label="Sort By">
          <p class="text-sm">Date</p>
          <%= hidden_field_tag :sort_by, params[:sort_by]%>
          <svg class="w-4 h-4 ml-2 text-gray-500 ease-in duration-200 <%= params[:sort_by] == "date" ? "rotate-180" : "" %>" id="sort-chevron" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
      </th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Time</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Language</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
    </tr>
  </thead>

  <% if @appointments.present? %>
    <% @appointments.each do |appointment| %>
      <tbody class="<%= cycle('bg-gray-50', 'bg-white') %>">
        <tr>
          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-blue-900 underline sm:pl-6"><%= link_to appointment.ref_number, appointment_details_interpreter_path(appointment) %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= date_displayable(appointment.start_time) %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= scheduled_time_range(appointment, current_user) %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= appointment&.language&.name %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 flex items-center">
            <div class="h-2.5 w-2.5 rounded-full <%= appointment.status == "opened" ? "bg-green-500" : "bg-orange-500" %> mr-2"></div>
            <%= colored_appointment_status appointment.status.titleize %>
          </td>
        </tr>
      </tbody>
    <% end %>
  <% else %>
    <tbody class="bg-white">
      <tr>
        <td colspan="5" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-blue-900 sm:pl-6">
          <center><i>No appointments were found matching the criteria selected.</i></center>
        </td>
      </tr>
    </tbody>
  <% end %>

</table>
