<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-6">
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-semibold text-gray-900">
               <span class="text-tokanisecondary-500">
                <%= link_to("Appointments", appointments_interpreters_path) %>
              </span>
              <span class="text-tokaniprimary-600 font-light mx-2">/ Time Finish Appointment <%= @appointment.ref_number %></span>
            </h1>
          </div>
        </div>
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
          <% if @appointment.finish_time.present? %>
            <%= render "appointments/time_finished" %>
          <% else %>

          <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6 mb-6">
            <div>
              <div class="grid grid-cols-1 sm:grid-cols-2">
                <div class="sm:col-span-1 sm:px-0">
                  <h3 class="text-lg font-medium leading-6 text-tokanisecondary-500"><%= @appointment.ref_number %></h3>
                  <p class="mt-1 text-sm text-gray-500">Appointment Details</p>
                </div>
              </div>
              <div class="mt-5 space-y-6 md:col-span-2 md:mt-0">
                <div>
                    <%= render "appointment_details" %> 
                </div>
              </div>
            </div>
          </div>
          
            <%= render "appointments/time_finish_form", url_opts: { url: time_finish_interpreter_path(@appointment), method: :post } %>
            
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
