<div id="<%= dom_id pay_rate %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= pay_rate.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= pay_rate.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Hourly pay rate</p>
    <%= pay_rate.hourly_pay_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is active</p>
    <%= pay_rate.is_active %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Minimum time charged</p>
    <%= pay_rate.minimum_time_charged %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours overage</p>
    <%= pay_rate.after_hours_overage %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rush overage</p>
    <%= pay_rate.rush_overage %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel rate</p>
    <%= pay_rate.cancel_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Default rate</p>
    <%= pay_rate.default_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">In person</p>
    <%= pay_rate.in_person %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Phone</p>
    <%= pay_rate.phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Video</p>
    <%= pay_rate.video %>
  </div>
</div>
