<%= content_for :title, "Pay Rates ##{@pay_rate.id}" %>
<%= turbo_stream_from @pay_rate %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Pay Rates", pay_rates_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Pay Rate #<%= @pay_rate.id %>
    </h1>
    <%= link_to t("edit"), edit_pay_rate_path(@pay_rate), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @pay_rate %>
  </div>
</div>
