<%= form_with(model: pay_bill_rate) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :is_default %>
    <%= form.check_box :is_default, class: "form-checkbox" %>
  </div>

  <div class="form-group">
    <%= form.label :effective_date %>
    <%= form.date_field :effective_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bill_rate %>
    <%= form.text_field :bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pay_rate %>
    <%= form.text_field :pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :after_hours_bill_rate %>
    <%= form.text_field :after_hours_bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :after_hours_pay_rate %>
    <%= form.text_field :after_hours_pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rush_bill_rate %>
    <%= form.text_field :rush_bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rush_pay_rate %>
    <%= form.text_field :rush_pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discount_bill_rate %>
    <%= form.text_field :discount_bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discount_pay_rate %>
    <%= form.text_field :discount_pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cancel_level_1_bill_rate %>
    <%= form.text_field :cancel_level_1_bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cancel_level_1_pay_rate %>
    <%= form.text_field :cancel_level_1_pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cancel_level_2_bill_rate %>
    <%= form.text_field :cancel_level_2_bill_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cancel_level_2_pay_rate %>
    <%= form.text_field :cancel_level_2_pay_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mileage_rate %>
    <%= form.text_field :mileage_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :travel_time_rate %>
    <%= form.text_field :travel_time_rate, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :in_person %>
    <%= form.check_box :in_person, class: "form-checkbox" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.check_box :phone, class: "form-checkbox" %>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.check_box :video, class: "form-checkbox" %>
  </div>

  <div class="form-group">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, class: "form-checkbox" %>
  </div>

  <div>
    <label>Select Language(s)</label>

    <div class="row mt-4 mb-3 justify-content-center">
      <div class="col-7 form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:40vh; overflow-y:auto">
        <div class="ml-4 mb-2">
          <% @pay_bill_rate.languages.each do |pbl| %>
            <%= check_box_tag 'pay_bill_rate[language_ids][]', pbl.id, true, class:"form-check-input" %>
            <%= pbl.name %>
            <br>
          <% end %>
        </div>

        <div class="ml-4 mb-2">
          <% @languages.each do |lang| %>
            <% next if @pay_bill_rate.languages.include?(lang) %>
            <%= check_box_tag 'pay_bill_rate[language_ids][]', lang.id, false, class:"form-check-input"%>
            <%= lang.name %>
            <br>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div>
    <label>Select Specialties</label>

    <div class="row mt-4 mb-3 justify-content-center">
      <div class="col-7 form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:30vh; overflow-y:auto">
        <div class="ml-4 mb-2">
          <% @pay_bill_rate.specialties.each do |pbs| %>
            <%= check_box_tag 'pay_bill_rate[specialty_ids][]', pbs.id, true, class:"form-check-input" %>
            <%= pbs.name %>
            <br>
          <% end %>
        </div>

        <div class="ml-4 mb-2">
          <% @specialties.each do |specialty| %>
            <% next if @pay_bill_rate.specialties.include?(specialty) %>
            <%= check_box_tag 'pay_bill_rate[specialty_ids][]', specialty.id, false, class:"form-check-input"%>
            <%= specialty.name %>
            <br>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div>
    <label>Select Interpreter Type(s)</label>

    <div class="row mt-4 mb-3 justify-content-center">
      <div class="col-7 form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:15vh; overflow-y:auto">
        <% InterpreterDetail.interpreter_types.each do |int_type, id| %>
          <div class="ml-4">
            <%= check_box_tag 'pay_bill_rate[interpreter_type_ids][]', id, @pay_bill_rate.interpreter_type_ids&.include?(id.to_s), class:"form-check-input" %>
            <%= int_type.titleize %>
            <br>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div data-controller="pay-bill-rate-customer">
    <div class="row mt-4 mb-3 justify-content-center">
      <div class="col-md-10 mx-3 mb-3" >
        <label>Select Customer</label>
        <%= form.select :account_ids, options_from_collection_for_select(@customers, 'id', 'name', selected: @customer&.id), {prompt: "(Select Customer)"}, { data: {action: 'change->pay-bill-rate-customer#customerSelected' }, class: 'form-select' } %>
      </div>
    </div>

    <div data-pay-bill-rate-customer-target="sites" class="<%= 'hidden' unless @sites&.any? %>">
      <%= render template: 'sites/dropdown' %>
    </div>

    <div data-pay-bill-rate-customer-target="departments" class="<%= 'hidden' unless @departments&.any? %>">
      <%= render template: 'sites/departments_dropdown' %>
    </div>
  </div>

  <div>
    <% if form.object.new_record? %>
      <%= form.button "Create Pay/Bill Rate", class: "btn btn-primary" %>
      <%= link_to t("cancel"), pay_bill_rates_path, class: "btn btn-white" %>
    <% else %>
      <%= form.button "Apply Configurations", class: "btn btn-primary" %>
      <%= link_to t("cancel"), pay_bill_rate_path(@pay_bill_rate), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
