<div id="<%= dom_id pay_bill_rate %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= pay_bill_rate.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is default?</p>
    <%= yes_no(pay_bill_rate.is_default) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Effective date</p>
    <%= pay_bill_rate.effective_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Bill rate</p>
    <%= number_to_currency(pay_bill_rate.bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Pay rate</p>
    <%= number_to_currency(pay_bill_rate.pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours bill rate</p>
    <%= number_to_currency(pay_bill_rate.after_hours_bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">After hours pay rate</p>
    <%= number_to_currency(pay_bill_rate.after_hours_pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rush bill rate</p>
    <%= number_to_currency(pay_bill_rate.rush_bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rush pay rate</p>
    <%= number_to_currency(pay_bill_rate.rush_pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Discount bill rate</p>
    <%= number_to_currency(pay_bill_rate.discount_bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Discount pay rate</p>
    <%= number_to_currency(pay_bill_rate.discount_pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel level 1 bill rate</p>
    <%= number_to_currency(pay_bill_rate.cancel_level_1_bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel level 1 pay rate</p>
    <%= number_to_currency(pay_bill_rate.cancel_level_1_pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel level 2 bill rate</p>
    <%= number_to_currency(pay_bill_rate.cancel_level_2_bill_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel level 2 pay rate</p>
    <%= number_to_currency(pay_bill_rate.cancel_level_2_pay_rate) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Mileage rate</p>
    <%= pay_bill_rate.mileage_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Travel time rate</p>
    <%= pay_bill_rate.travel_time_rate %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Modalities</p>
    <%= pay_bill_rate.modality_list.titleize %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Is active?</p>
    <%= yes_no(pay_bill_rate.is_active) %>
  </div>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Languages</p>
    <% if pay_bill_rate.languages.empty?  %>
      <p>Rate not applied to any Languges</p>
    <% else %>
      <%= pay_bill_rate.language_list.titleize %>
    <% end %>
  </div>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Specialties</p>
    <% if pay_bill_rate.specialties.empty?  %>
      <p>Rate not applied to any Specialties</p>
    <% else %>
      <ul>
        <% pay_bill_rate.specialties.each do |specialty| %>
          <li><%= specialty.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Interpreter Types</p>
    <% if pay_bill_rate.pay_bill_rate_interpreter_types.empty?  %>
      <p>Rate not applied to any Interpreter Types</p>
    <% else %>
      <%= pay_bill_rate.interpreter_types_list.titleize %>
    <% end %>
  </div>

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Customer / Sites / Departments</p>
    <% if pay_bill_rate.sites.empty? && pay_bill_rate.departments.empty? %>
      <p>Rate not applied to any Sites / Departments.</p>
    <% else %>

      <% if pay_bill_rate.sites.any? %>
        <label>Sites</label>
        <% pay_bill_rate.sites.each do |site| %>
          <div><p><%= site.customer.name %> &raquo; <%= site.name %></p></div>
        <% end %>
        <br>
      <% end %>

      <% if pay_bill_rate.departments.any? %>
        <label>Departments</label>
        <% pay_bill_rate.departments.each do |department| %>
          <div><p><%= department.site.customer.name %> &raquo; <%= department.site.name %> &raquo; <%= department.name %> </p></div>
        <% end %>
      <% end %>
    <% end %>
  </div>


</div>
