<%= content_for :title, t("shared.scaffold.edit.title", model: "Pay Bill Rate") %>
<%= content_for :title, "Pay Bill rates ##{@pay_bill_rate.id}" %>

<%= render partial: "shared/sidenav" %>
<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center pb-6">
                <div class="sm:flex-auto"> 
                  <h1 class="text-xl font-semibold text-gray-900">
                    <%= link_to "Pay Bill Rates", pay_bill_rates_path, class: "text-tokanisecondary-500" %>
                      <span class="text-gray-400 font-light mx-2">\</span>
                      <%= @pay_bill_rate.name %>
                  </h1>
                </div>
                 
                </div>
          

                <div class="p-8 bg-white rounded shadow">
                  <%= render "form", pay_bill_rate: @pay_bill_rate %>
                 
                </div>
            </div>
          </div>
        </div>
  </main>
</div>

