<%= content_for :title, "Pay/Bill Configs" %>
<%= turbo_stream_from :pay_bill_configs %>

<div>
  <%= render partial: "shared/sidenav" %>
  <div class="flex flex-1 flex-col md:pl-64">
    <main class="flex-1">
      <div class="py-6">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
              <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Pay Bill Configurations</h1>
                <p class="mt-2 text-sm text-gray-700">A list of all the pay bill configs in your account.</p>
              </div>
              <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <%= link_to t("shared.scaffold.new.title", model: "Pay Bill Config"), new_pay_bill_config_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-tokanisecondary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2 sm:w-auto" %>
              </div>
            </div>

  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm uppercase font-semibold text-gray-900 sm:pl-6"><%= sortable @pay_bill_configs, :name, "Name" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :minimum_minutes_billed, "Min Minutes Billed" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :minimum_minutes_paid, "Min Minutes Paid" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :billing_increment, "Billing Increment" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :trigger_for_billing_increment, "Billing Trigger" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :trigger_for_rush_rate, "Rush Rate Trigger" %></th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :trigger_for_discount_rate, "Discount Rate Trigger" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900">Active</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
      <% @pay_bill_configs.each do |pay_bill_config| %>
        <tr>
          <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
              <%= link_to(pay_bill_config.name, pay_bill_config_path(pay_bill_config)) %>
              <dl class="font-normal lg:hidden">
                <dt class="sr-only">Min. Minutes Billed</dt>
                <dd class="mt-1 truncate text-gray-700"><%= pay_bill_config.minimum_minutes_billed %></dd>
                <dt class="sr-only">Min. Minutes Paid</dt>
                <dd class="mt-1 truncate text-gray-700"><%= pay_bill_config.minimum_minutes_paid %></dd>
                <dt class="sr-only">Billing Increment</dt>
                <dd class="mt-1 truncate text-gray-500"><%= pay_bill_config.billing_increment %></dd>
                <dt class="sr-only">Billing Trigger</dt>
                <dd class="mt-1 truncate text-gray-500"><%= pay_bill_config.trigger_for_billing_increment %></dd>
                <dt class="sr-only">Rush Rate Trigger</dt>
                <dd class="mt-1 truncate text-gray-500"><%= pay_bill_config.trigger_for_rush_rate %></dd>
                <dt class="sr-only">Discount Rate Trigger</dt>
                <dd class="mt-1 truncate text-gray-500"><%= pay_bill_config.trigger_for_discount_rate %></dd>
              </dl>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.minimum_minutes_billed %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.minimum_minutes_paid %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.billing_increment %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_billing_increment %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_rush_rate %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_discount_rate %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell"><%= yes_no(pay_bill_config.is_active) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</main>
</div>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

