<%= content_for :title, "Pay/Bill Configs" %>
<%= turbo_stream_from :pay_bill_configs %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Pay/Bill Configs</h1>
    </div>

    <%= link_to "New Pay/Bill Config", new_pay_bill_config_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-tokanisecondary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2 sm:w-auto" %>
  </div>

  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm uppercase font-semibold text-gray-900 sm:pl-6"><%= sortable @pay_bill_rates, :name, "Name" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :minimum_minutes_billed, "Min. minutes billed" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :minimum_minutes_paid, "Min. minutes paid" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :billing_increment, "Billing increment" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900 lg:table-cell"><%= sortable @pay_bill_configs, :trigger_for_billing_increment, "Billing trigger" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900"><%= sortable @pay_bill_configs, :trigger_for_rush_rate, "Rush rate trigger" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900"><%= sortable @pay_bill_configs, :trigger_for_discount_rate, "Discount rate trigger" %></th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm uppercase font-semibold text-gray-900">Active</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
      <% @pay_bill_configs.each do |pay_bill_config| %>
        <tr>
          <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
              <%= link_to(pay_bill_config.name, pay_bill_config_path(pay_bill_config)) %>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.minimum_minutes_billed %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.minimum_minutes_paid %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.billing_increment %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_billing_increment %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_rush_rate %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= pay_bill_config.trigger_for_discount_rate %></td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell"><%= yes_no(pay_bill_config.is_active) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
