<div>
  <% form_url = customer.new_record? ? customers_path : customer_path(customer) %>
  <%= form_with(model: customer, url: form_url, class: "space-y-8 divide-y divide-gray-200") do |form| %>
    <%= render "shared/error_messages", resource: form.object %>
    <div class="mt-3 space-y-8 divide-y divide-gray-200">
      <div>
        <div class="mt-2">
          <h3 class="text-base font-semibold leading-6 text-gray-900">Company Information</h3>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Company Name</label>
            <div class="mt-1">
              <%= form.text_field :name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. Westside Hospital" %>
            </div>
          </div>
          <%= form.fields_for :customer_detail do |customer_detail| %>
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium text-gray-700">Category</label>
            <div class="mt-1">
              <%= customer_detail.select :customer_category_id,  options_from_collection_for_select(customer_categories, :id, :display_value, customer.customer_detail.customer_category_id ), {prompt: "Select A Customer Category..."}, {class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' } %> 
            </div>
          </div>
          <% end %>
          <%= form.fields_for :physical_address do |physical_address| %>
          <%= physical_address.hidden_field :address_type, value: "physical" %>
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Street Address 1</label>
            <div class="mt-1">
              <%= physical_address.text_field :line1, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. 1 Hospital Way" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Street Address 2</label>
            <div class="mt-1">
              <%= physical_address.text_field :line2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">City</label>
            <div class="mt-1">
              <%= physical_address.text_field :city, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. San Francisco" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">State</label>
            <div class="mt-1">
              <%= physical_address.select :state, options_for_select(state_select_options), class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Postal Code</label>
            <div class="mt-1">
              <%= physical_address.text_field :postal_code, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. 70707" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="pt-8">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900">Contact Information</h3>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <%= form.fields_for :customer_detail do |customer_detail| %>
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Contact's name</label>
            <div class="mt-1">
              <%= customer_detail.text_field :contact_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. Jerry" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <div class="mt-1">
              <%= customer_detail.text_field :email, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. name@email.com" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="street-address" class="block text-sm font-medium text-gray-700">Fax number</label>
            <div class="mt-1">
              <%= customer_detail.text_field :fax, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. 111-111-1111" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="street-address" class="block text-sm font-medium text-gray-700">Phone number</label>
            <div class="mt-1">
              <%= customer_detail.text_field :phone, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "ex. 123-456-7890" %>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-8">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900"></h3>
        </div>
        <div class="sm:col-span-6">
          <label for="street-address" class="block text-sm font-medium text-gray-700">Notes</label>
          <div class="mt-1">
            <%= customer_detail.text_area :notes, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Any notes needed for this customer." %>
          </div>
        </div>
        <fieldset class="space-y-5">
          <legend class="sr-only">Appointment Modalitites</legend>
          <div class="relative flex items-start">
            <div class="flex h-5 items-center">
              <%= customer_detail.check_box :appointments_in_person, class:"h-4 w-4 rounded border-gray-300 text-tokanisecondary-600 focus:ring-tokanisecondary-500" %>  
            </div>
            <div class="ml-3 text-sm">
              <%= customer_detail.label :appointments_in_person, class:"font-medium text-gray-700" %>
              <p id="in_person_appointments" class="text-gray-500">This customer books in-person appointments.</p>
            </div> 
          </div>
          <div class="relative flex items-start">
            <div class="flex h-5 items-center">
              <%= customer_detail.check_box :appointments_video, class:"h-4 w-4 rounded border-gray-300 text-tokanisecondary-600 focus:ring-tokanisecondary-500" %>
            </div>
            <div class="ml-3 text-sm">
              <%= customer_detail.label :appointments_video, class:"font-medium text-gray-700" %>
              <p id="video_appointment" class="text-gray-500">This customer books video appointments.</p>
            </div>
          </div>
          <div class="relative flex items-start">
            <div class="flex h-5 items-center">
              <%= customer_detail.check_box :appointments_phone, class:"h-4 w-4 rounded border-gray-300 text-tokanisecondary-600 focus:ring-tokanisecondary-500" %>
            </div>
            <div class="ml-3 text-sm">
              <%= customer_detail.label :appointments_phone, class:"font-medium text-gray-700" %>
              <p id="phone_appointment" class="text-gray-500">This customer books phone appointments.</p>
            </div>
          </div>
        </fieldset>
        <% end %>
        <div class="mt-4 relative flex items-start">
          <div class="flex h-5 items-center">
            <%= form.check_box :is_active, class:"h-4 w-4 rounded border-gray-300 text-tokanisecondary-600 focus:ring-tokanisecondary-500" %>
          </div>
          <div class="ml-3 text-sm">
            <%= form.label :is_active, class:"font-medium text-gray-700" %>
            <p id="active" class="text-gray-500">This customer is active.</p>
          </div>
        </div>
      </div>
      
      <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
        <%= form.button button_text(form.send(:submit_default_value)), class:"inline-flex justify-center rounded-md border border-transparent bg-tokanisecondary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2" %>
        <% if form.object.new_record? %>
          <%= link_to t("cancel"), customers_path, class:"inline-flex justify-center rounded-md border border-transparent bg-tokaniprimary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2" %>
        <% else %>
          <%= link_to t("cancel"), customer_path(@customer), class: "btn btn-white" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
