<div>
  <% form_url = customer_category.new_record? ? customer_categories_path : customer_category_path(customer_category) %>
  <%= form_with(model: customer_category, url: form_url) do |form| %>
      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-6 lg:col-span-3">
                  <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :display_value, class: "mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-tokanisecondary-500 focus:outline-none focus:ring-tokanisecondary-500 sm:text-sm" %>
              </div>
              <div class="col-span-6 sm:col-span-6 lg:col-span-3">
                <%= form.label :appointment_prefix, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :appointment_prefix, class: "mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-tokanisecondary-500 focus:outline-none focus:ring-tokanisecondary-500 sm:text-sm" %>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :telephone_prefix, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :telephone_prefix, class: "mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-tokanisecondary-500 focus:outline-none focus:ring-tokanisecondary-500 sm:text-sm" %>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <%= form.label :video_prefix, class: "block text-sm font-medium text-gray-700" %>
                <%= form.text_field :video_prefix, class: "mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-tokanisecondary-500 focus:outline-none focus:ring-tokanisecondary-500 sm:text-sm" %>
              </div>

              <div class="col-span-6 sm:col-span-3 mt-4">
                <div class="relative flex items-start">
                  <div class="flex h-5 items-center">
                    <%= form.check_box :is_active, class:"h-4 w-4 rounded border-gray-300 text-tokanisecondary-600 focus:ring-tokanisecondary-500" %>  
                  </div>
                  <div class="ml-3 text-sm">
                    <%= form.label :is_active, class:"font-medium text-gray-700" %>
                    <p id="is_active" class="text-gray-500">This customer category is active.</p>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <br>
         
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <%= form.button button_text(form.send(:submit_default_value)), class:"inline-flex justify-center rounded-md border border-transparent bg-tokanisecondary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2" %>
              <% if form.object.new_record? %>
                  <%= link_to t("cancel"), customer_categories_path, class:"inline-flex justify-center rounded-md border border-transparent bg-tokaniprimary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2" %>
              <% else %>
                  <%= link_to t("cancel"), customer_category_path(@customer_category), class:"inline-flex justify-center rounded-md border border-transparent bg-tokaniprimary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokanisecondary-700 focus:outline-none focus:ring-2 focus:ring-tokanisecondary-500 focus:ring-offset-2" %>
              <% end %>
          </div>
        </div> 
      </div> 
  </div>
<% end %>
</div>

