<div id="<%= dom_id appointment %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Ref number</p>
    <%= appointment.ref_number %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Start time</p>
    <%= appointment.start_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Finish time</p>
    <%= appointment.finish_time %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Duration</p>
    <%= appointment.duration %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Modality</p>
    <%= appointment.modality %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Sub type</p>
    <%= appointment.sub_type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Gender req</p>
    <%= appointment.gender_req %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Admin notes</p>
    <%= appointment.admin_notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= appointment.notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Details</p>
    <%= appointment.details %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Status</p>
    <%= appointment.status %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Interpreter type</p>
    <%= appointment.interpreter_type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Billing notes</p>
    <%= appointment.billing_notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Canceled by</p>
    <%= appointment.canceled_by %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cancel reason code</p>
    <%= appointment.cancel_reason_code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Lock version</p>
    <%= appointment.lock_version %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Time zone</p>
    <%= appointment.time_zone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Confirmation date</p>
    <%= appointment.confirmation_date %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Confirmation phone</p>
    <%= appointment.confirmation_phone %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Confirmation notes</p>
    <%= appointment.confirmation_notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Home health appointment</p>
    <%= appointment.home_health_appointment %>
  </div>
</div>
