<div>
  <div>
    <dl class="grid grid-cols-1 sm:grid-cols-2">
      <div class="px-4 pb-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Start Date & Time</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
          <%= appointment_start_date_and_time_in_user_time_zone(@appointment, current_user) %> <%= "(#{@appointment.time_zone})" if @appointment.time_zone %>
        </dd>
      </div>
      <div class="px-4 pb-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Duration</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.duration_viewable %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Modality</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.modality.titleize %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Language</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.language.name %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Status</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.status.titleize %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <%=
            @appointment.status == "scheduled" ? "Scheduled Interpreter" : "Requested Interpreter"
          %>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= appointment_interpreter_by_status(@appointment) %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Site</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.site.name %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Department</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.department.present? ? @appointment.department.name : "N/A" %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Provider</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.provider.present? ? @appointment.provider.view_name : "N/A" %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Requester</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2"><%= @appointment.requestor.present? ? @appointment.requestor.full_name : "N/A" %></dd>
      </div>
      <div class="border-t border-gray-100 px-4 py-6 sm:col-span-2 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Admin Notes</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
          <%= @appointment.admin_notes %>
        </dd>
      </div>
    </dl>
  </div>
</div>
