<div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6">
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="sm:col-span-1 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900"><%= @appointment.ref_number %></h3>
        <p class="mt-1 text-sm text-gray-500">Time Finish</p>
      </div>
      <div class="sm:col-span-1 sm:px-0 text-right">
        <% unless @appointment.less_than_24_hours_left_until_appointment? %>
          <%= button_to "I Can No Longer Attend", cancel_coverage_interpreter_path(@appointment), type: :button, data: { turbo_method: "post", turbo_confirm: "Are you sure?" }, class: "inline-flex items-center justify-center rounded-lg border bg-transparent border-red-600 py-2 px-3.5 text-sm font-medium text-red-600 shadow-sm hover:bg-red-600 hover:text-white focus:outline-none" if current_account_user.interpreter? && @appointment.finish_time.blank? %>
        <% end %>
      </div>
    </div>
    <div class="mt-5 space-y-6 md:col-span-2 md:mt-0">
      <div>
        <div class="mt-6">
          <%= form_with model: @appointment, url: url_opts[:url], multipart: true, method: url_opts[:method], data: {turbo: false} do |form| %>
            <dl class="grid grid-cols-1 sm:grid-cols-2">
              <div class="px-4 sm:col-span-1 sm:px-0 pr-0 md:pr-3 pb-5">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  <label for="end-date" class="block text-sm font-medium text-gray-700">End Date</label>
                </dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
                  <%= form.date_field :submitted_finish_date, class: "block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", required: true, value: @appointment.finish_time&.to_date %>
                </dd>
              </div>
              <div class="px-4 sm:col-span-1 sm:px-0 pr-0 md:pr-3 pb-5">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  <label for="end-time" class="block text-sm font-medium text-gray-700">End Time</label>
                </dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
                  <%= form.time_field :submitted_finish_time, class: "block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", required: true, value: @appointment.finish_time&.strftime("%H:%M:%S") %>
                </dd>
              </div>
              <div class="px-4 sm:col-span-1 sm:px-0 pr-0 md:pr-3 pb-5">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  <label for="billing-notes" class="block text-sm font-medium text-gray-700">Billing Notes</label>
                </dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
                  <%= form.text_area :billing_notes, rows: "8", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
                </dd>
              </div>
              <div class="px-4 sm:col-span-1 sm:px-0 pr-0 md:pr-3 pb-5">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  <label class="block text-sm font-medium text-gray-700">File Upload</label>
                </dt>
                <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size-value="2" data-dropzone-max-files-value="5" data-dropzone-images-value='<%= @docs_list_json %>'>
                  <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
                    <div class="flex max-w-lg justify-center rounded-md border-2 border-dashed border-gray-300 px-6 py-10 dropzone-msg dz-message needsclick cursor-pointer" data-dropzone-target="dropHere">
                      <div class="space-y-1 text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="flex text-sm text-gray-600">
                          <%= form.file_field :documents, direct_upload: true, multiple: true, data: { dropzone_target: 'input' } %>
                          <% @docs_list.each do |doc| %>
                            <%= hidden_field_tag 'appointment[documents][]', doc[:signed_id], data: {dropzone_target: "existingImageInput"} %>
                          <% end %>
                          <span class="dropzone-msg-desc">Drop & Drag files (or click here) to upload documents</span>
                        </div>
                        <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                      </div>
                    </div>
                  </dd>
                  <%= render 'appointments/custom_dropzone_preview_template' %>
                </div>
              </div>
              <div class="border-t border-gray-100 px-4 py-6 sm:col-span-2 sm:px-0">
                <div class="flex justify-end">
                  <%= submit_tag "Submit Time Finish", type: "submit", :class=> "ml-3 inline-flex justify-center rounded-md border border-transparent bg-tokaniprimary-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tokaniprimary-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                </div>
              </div>
            </dl>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
