<%= content_for :title, "Appointments ##{@appointment.ref_number}" %>
<%= turbo_stream_from @appointment %>

<div class="flex flex-1 flex-col md:pl-64" data-controller="appointments">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto">
              <h1 class="text-xl font-semibold text-tokaniprimary-400">
                <%= link_to "Appointments", appointments_path, class: "text-tokanisecondary-500" %>
                <span class="text-tokaniprimary-400 font-light mx-2">/</span>
              <%= @appointment.ref_number %>
              </h1>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <% unless @appointment.verified? %>
                <%= link_to "Time Finish", time_finish_appointment_path(@appointment), class: "btn bg-tokaniprimary-500 text-white hover:text-white hover:bg-tokaniprimary-400" %>
              <% end %>
              <%= link_to t("edit"), edit_appointment_path(@appointment), class: "inline-flex items-center justify-center rounded-lg border bg-transparent border-tokanisecondary-600 py-2 px-3.5 text-sm font-medium text-tokanisecondary-600 shadow-sm hover:bg-tokanisecondary-600 hover:text-white focus:outline-none" %>
            </div>
          </div>
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto">
              <%= render partial: "appointment_actions", locals: {appointment: @appointment} %>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <% if @appointment_statuses.present? %>
                <% @appointment_statuses.each do |status| %>
                  <%= render "statuses", appointment: @appointment %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto"></div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <div class="cancel-reason-container hidden">
                <%= render "cancel_reason_form", appointment: @appointment %>
              </div>
            </div>
          </div>
          <div class="p-8 bg-white rounded shadow">
            <%= render partial: 'appointment_details', locals: { appointment: @appointment, appt_status: @appt_status } %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

