<div id="<%= dom_id site %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= site.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Contact name</p>
    <%= site.contact_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Email</p>
    <%= site.email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Address</p>
    <%= site.address %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">City</p>
    <%= site.city %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">State</p>
    <%= site.state %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Zip code</p>
    <%= site.zip_code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Active</p>
    <%= site.active %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Backport</p>
    <%= site.backport_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= site.notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Contact phone</p>
    <%= site.contact_phone %>
  </div>
</div>
