<div id="<%= dom_id site %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= site.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Contact name</p>
    <%= site.contact_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Email</p>
    <%= site.email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Address</p>
    <%= site.address %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">City</p>
    <%= site.city %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">State</p>
    <%= site.state %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Zip code</p>
    <%= site.zip_code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Active</p>
    <%= site.active %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Notes</p>
    <%= site.notes %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Contact phone</p>
    <%= site.contact_phone %>
  </div>

  <h4>Departments</h4>
  <% if @site.departments.any? %>
    <table class='table-auto' style="width: 50%">
      <thead>
        <tr>
          <th class="">Department Name</th>
          <th class="">Location</th>
          <th class="">Accounting Unit Code</th>
        </tr>
      </thead>
      <tbody>
       <% @site.departments.each do |department| %>
          <tr>
            <td><%= department.name %></td>
            <td><%= department.location %></td>
            <td><%= department.accounting_unit_code %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% else %>
    <p>No departments present.</p>
  <% end %>

</div>
