<%= content_for :title, t("shared.scaffold.edit.title", model: "Requestors") %>
<%= content_for :title, "requestors ##{@requestor.id}" %>
<%= turbo_stream_from @requestor %>

<div class="flex flex-1 flex-col md:pl-64">
  <main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-6">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center pb-6">
            <div class="sm:flex-auto"> 
              <h1 class="text-xl font-semibold text-gray-900">
                <%= link_to "Requestors", requestors_path, class: "text-tokanisecondary-500" %>
                <span class="text-gray-400 font-light mx-2">\</span>
                <%= @requestor.last_name %>, <%= @requestor.first_name %>
              </h1>
            </div>
          </div>
          <div class="p-8 bg-white rounded shadow">
            <%= render partial: "form", locals: { requestor: @requestor, account_customers: @account_customers, customers: @customers, sites: @sites, departments: @departments } %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>