<%= content_for :title, "Financial Report" %>

<div>
  <%= render partial: "shared/sidenav" %>
  <div class="flex flex-1 flex-col md:pl-64">
    <main class="flex-1">
      <div class="py-6">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
              <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Financial Report</h1>

                <%= form_with model: @report, url: "/reports", class: 'form', data: { turbo: false } do |form| %>
                  <%= form.hidden_field :report_type %>

                  <div class="grid grid-cols-2 gap-4 mt-4 mb-3 align-items-center justify-content-center">
                    <div class="mx-3 mb-3">
                      <div class="input-group input-group-static">
                        Start date:
                        <%= form.text_field :date_begin, class: "form-control", data: {controller: "flatpickr", flatpickr_enable_time: false, flatpickr_date_format: "F j, Y"} %>
                      </div>
                    </div>
                    <div class="mx-3">
                      <div class="input-group input-group-static">
                        End date:
                        <%= form.text_field :date_end, class: "form-control", data: {controller: "flatpickr", flatpickr_enable_time: false, flatpickr_date_format: "F j, Y"} %>
                      </div>
                    </div>
                  </div>
                  <div data-controller="select-all-or-none">
                    <div class="mx-3">
                      Select Modality:
                    </div>
                    <label class="ml-3 mt-2">
                      <input type="checkbox" data-select-all-or-none-target="checkboxName" data-checkbox-val="checkbox" data-action="select-all-or-none#toggle" />
                      <span>Select All / Deselect All</span>
                    </label>
                    <div class="row mt-4 mb-3 align-items-center justify-content-center">
                      <div class="col-4 text-blueCoral form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:26vh; overflow-y:auto">
                        <div class="ml-4">
                          <%= check_box_tag 'report[in_person]', true, false, class: "form-check-input", data: { select_all_or_none_target: 'checkboxes'} %> In Person<br>
                          <%= check_box_tag 'report[phone]', true, false, class: "form-check-input", data: { select_all_or_none_target: 'checkboxes'} %> Phone<br>
                          <%= check_box_tag 'report[video]', true, false, class: "form-check-input", data: { select_all_or_none_target: 'checkboxes'} %> Video<br>
                        </div>
                      </div>

                      <div class="col-md-6 mx-3">
                        Select Interpreter Type:
                        <div class="input-group input-group-static">
                          <%= form.select :interpreter_type, interpreter_type_options, {prompt: 'All'}, {class: 'form-select', style: 'clear: both'} %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="ml-3 mt-4 mb-2 justify-content-center">
                   <div class="mx-3">
                      Select Customer Category:
                    </div>

                    <% if @customer_categories&.any? %>
                      <%= select_tag 'report[customer_category_id]', options_from_collection_for_select(@customer_categories, 'id', 'display_value'), prompt: "All Customer Categories", class: 'form-select', style: 'width: 50%' %>
                    <% else %>
                      <p>No customer categories found.</p>
                    <% end %>
                  </div>

                  <div data-controller="select-all-or-none">

                    <div class="mx-3">
                      Select Agency Customer(s):
                    </div>

                    <label class="ml-3 mt-2">
                      <input type="checkbox" data-select-all-or-none-target="checkboxName" data-checkbox-val="checkbox" data-action="select-all-or-none#toggle" />
                      <span>Select All / Deselect All</span>
                    </label>

                    <div data-controller="customer-sites">
                      <div class="row mt-4 mb-3 justify-content-center">
                        <div class="col-7 text-blueCoral form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:40vh; overflow-y:auto">
                          <% @customers.each do |customer| %>
                            <div class="ml-4">
                              <%= check_box_tag 'report[customer_ids][]', customer.id, false, class: "form-check-input", data: {action: 'change->customer-sites#customerSelected', customer_sites_target: "checkbox", select_all_or_none_target: 'checkboxes'} %>
                              <%= customer.name %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div data-customer-sites-target="sites" class="hidden">
                        <%= render template: 'sites/dropdown_for_reports' %>
                      </div>

                      <div data-customer-sites-target="departments" class="hidden">
                        <%= render template: 'sites/departments_dropdown_for_reports' %>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-4 mb-3 justify-content-center">
                    <div class="col-md-5 mx-3 mb-3" >
                      Language:<br>
                      <%= form.select :language_id, options_from_collection_for_select(@languages, 'id', 'name'), {prompt: 'All Languages'}, {class: 'form-select'} %>
                    </div>
                  </div>

                  <div data-controller="select-all-or-none">

                    <div class="mx-3">
                      Select fields to show on report:
                    </div>

                    <label class="ml-3 mt-2">
                      <input type="checkbox" data-select-all-or-none-target="checkboxName" data-checkbox-val="checkbox" data-action="select-all-or-none#toggle" />
                      <span>Select All / Deselect All</span>
                    </label>

                    <div class="row mt-4 mb-3 justify-content-center">
                      <div class="col-7 text-blueCoral form-check border rounded-2 border-grey border-2 mb-3 ps-5 mx-3" style="height:80vh; overflow-y:auto">
                        <% reportable_fields.each do |key, value| %>
                          <div class="ml-4">
                            <%= check_box_tag 'report[fields_to_show][]', key, false, class: "form-check-input", data: { select_all_or_none_target: 'checkboxes'} %>
                            <%= value %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <div class="grid grid-cols-2 gap-4">
                    <div class="mx-auto">
                      <%= form.submit "Generate PDF", class: 'btn btn-secondary' %>
                    </div>
                    <div class="mx-auto">
                      <%= form.submit "Generate CSV", class: 'btn btn-secondary' %>
                    </div>
                  </div>


                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<br>