<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= viewport_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/642f04bc7d.js" crossorigin="anonymous"></script>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <%= yield :head %>
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <div class="main flex flex-col">
      <%= render partial: "shared/flash" %>
      <% unless content_for?(:sidenav) %>
        <%= render partial: "shared/navbar" %>
      <% end %>
      <div class="px-3 lg:px-0 h-full">
        <% unless current_user.blank? || current_account_user.admin? %>
          <% if current_account_user.interpreter? %>
            <%= render partial: 'shared/interpreter_sidenav' %>
          <% elsif current_account_user.agency_admin? %>
            <%= render partial: 'shared/sidenav' %>
          <% end %>
        <% end %>
        <!-- <div class="p-8 bg-white rounded shadow"> -->
        <div class="flex flex-1 flex-col">
          <main class="flex-1">
            <%= yield %>
            <dialog id="turbo-confirm">
              <form method="dialog">
                <p>Are you sure?</p>
                <div class="mt-3">
                  <button value="cancel" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm">Cancel</button>
                  <button value="confirm" class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Confirm</button>
                </div>
              </form>
            </dialog>
          </main>
        </div>
      </div>
    </div>
    <%= render partial: "shared/footer" unless turbo_native_app? %>
    <ninja-keys data-controller="command-palette" hideBreadcrumbs></ninja-keys>
  </body>
</html>
